<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="It Dot Web Studio. Design; Front-end;.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="http://ItTDotcom/assets/img/snapshot/Aloha-Mundo.jpg" name="twitter:image:src"/>
    <meta content="@ItTDot" name="twitter:site"/>
    <meta content="summary" name="twitter:card"/>
    <meta content="It Dot Web Studio. Design; Front-end;" name="twitter:title"/>
    <meta content="It Dot Web Studio. Design; Front-end;" name="twitter:description"/>
    <meta content="http://ItTDotcom/assets/img/snapshot/Aloha-Mundo.jpg" property="og:image"/>
    <meta content="website" property="og:type"/>
    <meta content="It Dot Web Studio. Design; Front-end;" property="og:title"/>
    <meta content="http://ItTDotcom/" property="og:url"/>
    <meta content="It Dot Web Studio. Design; Front-end;" property="og:description"/>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>It Dot | JavaScript Web Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/build.min.css">
    <link rel="stylesheet" href="font-awessome/css/font-awesome.min.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86196516-1', 'auto');
        ga('send', 'pageview');

    </script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body ng-controller="MainController">

<header class="header animated">
    <nav class="nav-transparent flex-box">
        <div class="logo-name">
            <p>It<span> &nbsp Dot Company</span></p>
        </div>
        <div id="nav-icon2" class="menu-btn-wrapper">
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
        </div>
    </nav>
</header>

<div id="home" class="responsiveMobileMenu">
    <ul class="mobileMenu flex-box" role="menubar">
        <li class="show">
            <a class="scroll" href="#section1" role="menuitem">
                <h3>Home</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#cd-timeline" role="menuitem">
                <h3>Proffesional life</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section3" role="menuitem">
                <h3>Skills</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section4" role="menuitem">
                <h3>Projects</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section5" role="menuitem">
                <h3>Contact</h3>
            </a>
        </li>
    </ul>
</div>

<!-- Section Home -->
<section id="section1" class="homepage-hero-module">
    <div class="hero-text-container flex-box">
        <div class="hero-text">
            <h1>Hi, We are team:<h4>Full-Stack Development| Backend | Inspired in Design</h4>
        </div>
        <div class="hero-text">
            <a class="arrow-down" href="#cd-timeline">
                <i class="fa fa-angle-down pulse"></i>
            </a>
        </div>
    </div>
    <div class="overlay"></div>

    <div class="video-container">
        <div id="myBlock" style="width: 100%; height: 100%; z-index: 0"
             data-vide-bg="poster: assets/img/snapshot/Aloha-Mundo.png"
             data-vide-options="posterType: png, loop: false, muted: false, position: 0% 0%">
        </div>
    </div>

    <!-- For Web Scrapper -->
    <img src="dist/img/projects_img/portfolio_screen-min.jpg" class="visually-hidden" alt="Portfolio screenshot"/>
</section>
<!-- End Section Home -->

<section id="cd-timeline" class="cd-container">

    <div class="section-header l-header">
        <h2>professional life</h2>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Sales Manager</h2>
            <h4>Freelance</h4>
            <p>Blablablablalaalalaaalalalal</p>
            <span class="cd-date">09.2014 - Present</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>Gaz Department</h2>
            <h4 ng-bind="timeline.profit_network.position"></h4>
            <p ng-bind="timeline.profit_network.responsibilities"></p>
            <span class="cd-date">08.2012 - 08.2014</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Sales Representative</h2>
            <h4 ng-bind="timeline.szafa_pl.position"></h4>
            <p ng-bind="timeline.szafa_pl.responsibilities"></p>
            <span class="cd-date">03.2009 - 07.2012</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2>Ideo</h2>
            <h4 ng-bind="timeline.ideo.position"></h4>
            <p ng-bind="timeline.ideo.responsibilities"></p>
            <span class="cd-date">08.2008 - 02.2009</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2 ng-bind="timeline.wsiz.title"></h2>
            <p ng-bind="timeline.wsiz.position"></p>
            <span class="cd-date">2007 - 2008</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2 ng-bind="timeline.hire.title"></h2>
            <p ng-bind="timeline.hire.position"></p>
            <span class="cd-date">2003 - 2007</span>
        </div>
    </div>
</section>

<!-- SKILLS -->
<section id="section3" class="skills-page">
    <div class="container tiles-container flex-box">
        <div class="section-header d-header">
            <h2>skills</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 ng-repeat="skill in skills" data-wow-duration="{{ skill.duration }}"
                 data-wow-delay="{{ skill.delay }}">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skill.skillHeader }}"
                                 skill-sub-header="{{ skill.skillSubHeader }}"
                                 skill-text="{{ skill.skillText }}">
                </skill-directive>
            </div>
        </div>
    </div>
</section>

<!-- PROJECTS -->
<section id="section4" class="projects-section">
    <div class="section-header l-header">
        <h2>Projects</h2>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.one_web"></project-bgside-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.one_web.data"></project-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content lside light-content mobile-reverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.flex_mix.data"></project-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.flex_mix"></project-bgside-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.i_sport"></project-bgside-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.i_sport.data"></project-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content lside light-content mobile-reverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.tapon_fb_app.data"></project-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.tapon_fb_app"></project-bgside-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.wikendo"></project-bgside-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.wikendo.data"></project-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content lside light-content mobile-reverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.folklor.data"></project-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.folklor"></project-bgside-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-side">
                    <project-bgside-directive project-description="projects.zszywka"></project-bgside-directive>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data-side">
                    <project-directive project-description="projects.zszywka.data"></project-directive>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="section5" class="footer">

    <section class="contact-content light-content">

        <div class="section-header d-header">
            <h2>Contact</h2>
        </div>

        <div class="container">
            <div class="row">

                <form name="userForm" ng-submit="submitForm(userForm)"
                      class="contact-form col-lg-6 col-md-6 col-sm-12 col-xs-12" novalidate>

                    <div class="contact-data col-md-12">
                        <a href="tel:48537579280">
                            <i class="fa fa-phone"></i>+38-066-000-95-99
                        </a>
                    </div>

                    <!-- Name -->
                    <form-field>
                        <input type="text" name="name" id="name" class="input-field"
                               ng-model="vm.contactForm.name"
                               ng-maxlength="40"
                               required>
                        <label for="name">Name<span>*</span></label>
                    </form-field>

                    <!-- Email -->
                    <form-field>
                        <input type="email" name="email" id="email" class="input-field"
                               ng-model="vm.contactForm.email"
                               ng-maxlength="40"
                               required>
                        <label for="email">Email<span>*</span></label>
                    </form-field>

                    <!-- Message -->
                    <form-field>
                        <textarea rows="7" name="message" id="message" class="input-field"
                                  ng-model="vm.contactForm.message"
                                  ng-required="true"></textarea>
                        <label for="message">Message<span>*</span></label>
                    </form-field>

                    <!-- Submit -->
                    <div class="col-md-12">
                        <button type="submit" class="btn">
                            <!--ng-class="{'disabled' : formInvalid}"-->
                            <!--ng-disabled="formInvalid">-->
                            <i class="fa fa-paper-plane-o"></i>Send
                        </button>
                    </div>
                </form>

                <!-- Google Map -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="social-content">
        <div class="container">
            <div class="row center-xs">

                <div class="fadeInUp wow animated">
                    <div class="social-links-content">
                        <span class="social-links">
                            <a href="https://www.facebook.com/dimka.tarasof" title="I am on Facebook"
                               target="_blank">
                                  <i class=" fa fa-facebook"></i>
                            </a>
                        </span>
                        <span class="social-links">
                            <a href="https://twitter.com/dimTarasov" title="I am on Twitter" target="_blank">
                                <i class=" fa fa-twitter"></i>
                            </a>
                        </span>
                        <span class="social-links">
                            <a href="https://www.linkedin.com/in/dTarasov" title="I am on Linkedin" target="_blank">
                                <i class=" fa fa-linkedin"></i>
                            </a>
                        </span>
                        <span class="social-links">
                            <a href="https://github.com/ItTDot title="I am on Github" target="_blank">
                                <i class=" fa fa-github"></i>
                            </a>
                        </span>
                    </div>
                    <div class="footer-text">
                        <!-- Copyright -->
                        <div class="footer-copyright">
                            <p>&copy; It Dot {{ copyYear }}</p>
                        </div>

                        
                    </div>
                </div>

            </div>
        </div>
    </section>

</footer>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4v_8kzUhXhYR6d7AvqedRKDfUYZkAovM&language=en"></script>


<script src="dist/js/build.min.js"></script>


<script>
    var map;
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 49.80872804, lng: 24.03056947}, 
        zoom: 10
    });
</script>
</body>

</html>
