/** ============================
    icons
    ======================== **/

.big-icons{
    background: url($image_dir + "icons/big-icons.png") no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
  @extend %inline-block;
	&.i-13 { background-position: -0px -0px; width: 231px; height: 149px; }
	&.i-16 { background-position: -0px -149px; width: 231px; height: 149px; }
	&.i-01 { background-position: -0px -298px; width: 219px; height: 149px; }
	&.i-07 { background-position: -0px -447px; width: 219px; height: 149px; }
	&.i-12 { background-position: -0px -596px; width: 197px; height: 182px; }
	&.i-18 { background-position: -0px -778px; width: 197px; height: 182px; }
	&.i-02 { background-position: -0px -960px; width: 190px; height: 186px; }
	&.i-08 { background-position: -0px -1146px; width: 190px; height: 186px; }
	&.i-14 { background-position: -0px -1332px; width: 181px; height: 164px; }
	&.i-17 { background-position: -0px -1496px; width: 181px; height: 164px; }
	&.i-03 { background-position: -0px -1660px; width: 161px; height: 194px; }
	&.i-09 { background-position: -0px -1854px; width: 161px; height: 194px; }

	&.i-21 { background-position: -0px -2049px; width: 219px; height: 149px; }
	&.i-22 { background-position: -0px -2198px; width: 190px; height: 186px;  }
	&.i-23 { background-position: -0px -2384px; width: 161px; height: 194px; }

	&.i-24 { background-position: -0px -2578px; width: 219px; height: 149px; }
	&.i-25 { background-position: -0px -2726px; width: 190px; height: 186px;  }
	&.i-26 { background-position: -0px -2912px; width: 161px; height: 194px; }
	&.i-27 { background-position: -0px -3107px; width: 217px; height: 157px; }
	&.i-28 { background-position: -0px -3264px; width: 217px; height: 157px; } 
	&.i-30 { background-position: -0px -3421px; width: 147px; height: 166px; }
	&.i-31 { background-position: -0px -3586px; width: 147px; height: 166px; }
}
.icons{
	background: url($image_dir + "icons/icons.png") no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
	@extend %inline-block;
	&.i-01 { background-position: -0px -0px; width: 42px; height: 42px; }
	&.i-02 { background-position: -42px -0px; width: 42px; height: 42px; }
	&.i-03 { background-position: -84px -0px; width: 42px; height: 42px; }
	&.i-04 { background-position: -0px -42px; width: 42px; height: 42px; }
	&.i-05 { background-position: -42px -42px; width: 42px; height: 29px; }
	&.i-06 { background-position: -84px -42px; width: 42px; height: 29px; }
	&.i-07 { background-position: -42px -71px; width: 42px; height: 32px; }
	&.i-08 { background-position: -84px -71px; width: 42px; height: 32px; }
	&.i-09 { background-position: -0px -84px; width: 42px; height: 32px; }
	&.i-10 { background-position: -42px -103px; width: 42px; height: 32px; }
	&.i-11 { background-position: -0px -114px; width: 31px; height: 38px; }
	&.i-12 { background-position: -0px -154px; width: 24px; height: 24px; }
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'otakoyi';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e617";
}
.icon-arrow-left:before {
    content: "\e618";
}
.icon-arrow-up:before {
    content: "\e616";
}
.icon-arrow-down:before {
    content: "\e615";
}
.icon-lupa:before {
    content: "\e613";
}
.icon-muha:before {
    content: "\e614";
}
.icon-portfolio:before {
    content: "\e600";
}
.icon-watch:before {
    content: "\e601";
}
.icon-link:before {
    content: "\e602";
}
.icon-letter:before {
    content: "\e603";
}
.icon-time:before {
    content: "\e604";
}
.icon-user:before {
    content: "\e605";
}
.icon-back:before {
    content: "\e606";
}
.icon-forward:before {
    content: "\e607";
}
.icon-clip:before {
    content: "\e608";
}
.icon-burger:before {
    content: "\e609";
}
.icon-logo-otakoyi:before {
    content: "\e60a";
}
.icon-shit:before {
    content: "\e60b";
}
.icon-remove:before {
    content: "\e60c";
}
.icon-search:before {
    content: "\e60d";
}
.icon-work-3:before {
    content: "\e60e";
}
.icon-work-2:before {
    content: "\e60f";
}
.icon-work-4:before {
    content: "\e610";
}
.icon-work-1:before {
    content: "\e611";
}
.icon-work-5:before {
    content: "\e612";
} 