
.btn {
  height: 4em;
  margin: 0 auto;
  display: block;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  font-size: .6rem;
  font-weight: 600;
  color: #9a9a9a;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 15px;
  cursor: pointer;
  outline: none;
  transition: background .2s ease,color .2s ease;
  &:hover {
    background: #000;
    color: #000;
  }
  i {
    padding-right: 3px;
  }
}
