// -----------------------------------------------------------------------------
// This file contains errors styles.
// -----------------------------------------------------------------------------

.error {
  input.ng-invalid,
  textarea.ng-invalid {
    border-color: #a94442 !important;
  }
  .error-message {
    margin: 5px 0 0 0;
    font-size: .9rem;
    color: #a94442;
  }
  .error-message.submit-message{
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 1rem;
  }
  button.disabled {
    background: #dcdcdc;
  }
}



